body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(#2A00B7, #42006C);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Global Styles - Tablet */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .App-header {
    font-size: calc(8px + 2vmin);
  }
}

/* Global Styles - Mobile */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .App-header {
    font-size: calc(6px + 2vmin);
  }

  .App-link {
    font-size: 12px;
  }
}
